
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:paleturquoise;
}

#container {
    height: fit-content;
    width: fit-content;
    display: grid;
    gap: 1px;
    border: solid 3px black;
}

.dot {
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
}

.content {
    display: flex;
    gap: 1em;
}

.button_colors > button {
    height: 64px;
    width: 64px;
}

.button_colors {
    display: flex;
    flex-direction: column;
    gap: 4px;
}