body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: paleturquoise;
}

#container {
    height: 512px;
    width: 512px;
    display: grid;
    gap: 1px;
    border: solid 3px black;
}

.dot {
    height: stretch;
    width: stretch;
    background-color: rgb(255, 255, 255);
}

.content {
    display: flex;
    gap: 1em;
}

.button_colors>button,
#size_changer {
    height: 64px;
    width: 64px;
    border-radius: 6px;

}

button:hover {
    box-shadow: 3px 2px 4px black;
    transition: 0.3s;
}

.button_colors {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

#red {
    background-color: red;
}

#green {
    background-color: green;
}

#blue {
    background-color: blue;
}

#yellow {
    background-color: yellow;
}

#white {
    background-color: white;
}