
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:paleturquoise;
}

#container {
    height: fit-content;
    width: fit-content;
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(16, 1fr);
}

.dot {
    
    height: 20px;
    width: 20px;
    background-color: rgb(255, 255, 255);
}
